@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-gradient: linear-gradient(135deg, #6b46c1 0%, #9f7aea 100%);
  --background-color: #f8fafc;
  --text-color: #1e293b;
  --accent-color: #8a4baf;
}

body {
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

.gradient-text {
  background: var(--purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s step-end infinite;
}

/* New custom class for extra bottom spacing */
.extra-bottom-spacing {
  margin-top: 20rem; /* Adjust this value as needed */
}
